---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GraphGrid from "../components/GraphGrid.astro";
import graphsData from "../data/graphs.json";

// Using the data from our JSON file
const graphs = graphsData;
---

<Layout>
	<Header />
	<div>
		<GraphGrid graphs={graphs} />
	</div>
	<Footer />
</Layout>
