---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Graph from "../components/Graph.astro";
---

<Layout>
	<Header />
	<div>
		<Graph
			graphImgUrl="/assets/graphs/accperyear.png"
			caption="Accuracy Per Year"
		/>
		<Graph
			graphImgUrl="/assets/graphs/accperyear.png"
			caption="Accuracy Per Year2"
		/>
	</div>
</Layout>
